.titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: rgb(222, 212, 190); */
    padding: 10px 0;
    flex: 0 1 auto;
}

.result-title-display {
    font-size: calc(10px + 2vmin);
    margin: 0 20px;
    text-shadow: 0px 0px 25px white;
    /* color: brown; */
}
