#app-footer {
    background-color: rgb(216, 198, 182);
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.footer-button {
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
}