#app-footer {
    background-color: rgb(191, 210, 191);
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    flex: 0 1 auto;
    /* margin-top: auto; */
}

.footer-button {
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: #fff;
}
.footer-button:hover {
    background-color: lightgreen;
}
.footer-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);;
}