.group-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    border: 4px solid rgb(42, 94, 42);
    border-radius: 30px;
    border-radius: 25px;

    font-size: 1.1em;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.group-title {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    color: rgb(42, 94, 42);
}

.group-input--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;

}

#group-title--input{
    /* color: brown; */
    border: 0;
    font-size: 20px;
    font-weight: bolder;
    font-family: Times;
}

.group-title-submit-button {
    width: 46px;
    height: 46px;
    background-color: lightgreen;
    border-radius: 10px;
    border-radius: 50% 0 0 50%;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.group-del-btn {
    width: 40px;
    height: 40px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 50% 0;
    border: none;
    color:  white;
    font-size: 20px;
    font-weight: bold;
    background-color: pink;
}

.group-del-btn:hover {
    background-color: brown;
}

.group-items--display {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(201, 199, 198);
    border-radius: 0 0 18px 18px;
    box-shadow: inset 0px -3px 3px grey;
}

/* This should probably be at the App top level */
*:focus {
    outline: none;
}
