<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SORDA</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <h1>Grüpr</h1>
    <div class="forms">
      <form action="/reactApp" method="post">
        <button type="submit" value="Submit">Create Group</button>
      </form>
      <form action="/resultsPage" method="post">
        <input type="text" name="AccessID" placeholder="Enter ID">
        <button type="submit" name="getResultsPage">GO</button>
      </form>
    </div>
  </body>
</html>
