.add-item-button {
    border: 2px solid red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: white;
}
.roster-item--new:hover {
    background-color: greenyellow;
}

/* .roster-add--button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

.new-roster-item-text {
    font-size: large;
    /* margin-left: 20px; */
    
}