.add-item-button {
    width: 40px;
    /* height: 30px; */
    background-color: white;
    border: 2px solid brown;
    border-radius: 10px;
    /* margin-bottom: 5px; */
    /* margin: 0 auto; */
    text-decoration: none;
    color:  brown;
    font-weight: bolder;
    transition: background-color 1s;
    text-align: center;
    /* flex: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-item-button:hover {
    background-color: lightgreen;
}

/* .roster-add--button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

.new-roster-item-text {
    font-size: large;
    /* margin-left: 20px; */
    
}