.card-container {
    min-height: 100px;
    min-width: 200px;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
}
.group-card--header {
    display: flex;
}

.group-items--display {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}