.group-add--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    /* border-radius: 25px; */
    background-color: lightgreen;
    /* border: 2px solid brown; */
    text-decoration: none;
    color:  brown;
    font-weight: bolder;
    transition: background-color .5s;
    text-align: center;
    /* width: 30px; */
    /* height: 30px; */
    border: 2px solid brown;
    border-radius: 10px;
    font-weight: bold;
    color: brown;
}
.group-add--button:hover {
    background-color: greenyellow;
    /* width: 32px;
    height: 32px; */
}

/* .new-group-item-text {
    margin-top: 5px;
    font-weight: bold;
} */