.group-add--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: white;
    text-decoration: none;
    color:  brown;
    font-weight: bolder;
    text-align: center;
    border: 2px solid brown;
    border-radius: 12px;
    font-weight: bold;
    color: brown;
}
.group-add--button:hover {
    background-color: rgb(184, 255, 184);
}

/* .new-group-item-text {
    margin-top: 5px;
    font-weight: bold;
} */