
/* --- GROUP SECTION --- */
.group-section {
    width: 100%;
    /* height: 100%; */
    border-radius: 25px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* background-color: rgb(248, 244, 236); */
}
.group-section-header {
    display: inline-flex;
    background-color: rgb(191, 210, 191);
    /* background-color: green; */
    border-radius: 25px  ;
    border: 2px solid green;
    flex-shrink: 0;
}
.group-header-caption {
    flex: 1;
    font-size: x-large;
    padding: 10px;
}

.group-items-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    width: auto;
}

/* #groups-display-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */

/* .group-item {
    border: 2px solid grey;
    border-radius: 15px;
    text-align: center;
    background-color: white;
} */