
/* --- GROUP SECTION --- */
.group-section {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    /* flex-grow: 2; */
}
.group-section-header {
    display: inline-flex;
    background-color: rgb(191, 210, 191);
}
.group-header-caption {
    flex: 1;
    font-size: x-large;
    padding: 10px;
}



.group-items-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.group-item {
    border: 2px solid grey;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}